<ion-content padding>

  <ion-grid>
    <ion-row justify-content-center margin-bottom>
      <ion-img src="assets/imgs/bitcoin.svg"></ion-img>
    </ion-row>
    <ion-row justify-content-center margin-bottom margin-top>
      <div *ngIf="bitcoin$ | async as bc; else loading">
        <h1 *ngIf="currency == 'EUR'">BTC: {{bc.bpi.EUR.rate_float | currency: currency + " "}}</h1>
        <h1 *ngIf="currency == 'USD'">BTC: {{bc.bpi.USD.rate_float | currency: currency + " "}}</h1>
      </div>
      <ng-template #loading>
        <h2>Loading...</h2>
      </ng-template>
    </ion-row>
    <ion-row justify-content-center margin-bottom>
      <button (click)="getBitcoinPrice()" ion-button round icon-only outline>
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-item>
    <ion-label> Select Currency</ion-label>
    <ion-select [(ngModel)]="currency">
      <ion-option value="EUR">EUR</ion-option>
      <ion-option value="USD">USD</ion-option>
    </ion-select>
  </ion-item>
</ion-footer>